/* Estilo da seção corpo */
.corpo {
    margin: 3em auto;
    width: 90%;
    max-width: 1200px; /* Ajuste o tamanho da seção */
    text-align: center;
}

/* Estilo do contêiner dos links */
.corpo ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza os itens */
    padding: 0;
    list-style: none;
}

/* Estilo dos links/botões */
.corpo li {
    flex: 1 1 20%; /* Faz com que os itens ocupem 20% do container, ajustando conforme o tamanho */
}

.corpo a {
    display: block;
    padding: 1em 2em; /* Ajuste o tamanho dos botões */
    background-color: var(--verde);
    color: var(--branco);
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px; /* Tamanho do texto dos botões */
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.corpo a:hover {
    background-color: var(--laranja);
}

.corpo h2 {
    font-size: 2em; /* Aumenta o tamanho da fonte */
    color: var(--verde); /* Aplica a cor verde ao texto */
    margin-bottom: 1em; /* Define o espaçamento inferior igual ao superior */
    text-align: center; /* Centraliza o texto */
}
/* Responsividade */
@media screen and (max-width: 900px) {
    .corpo {
        width: 95%;
    }

    .corpo li {
        flex: 1 1 45%; /* Ajusta o tamanho dos itens para telas menores */
    }

    .corpo a {
        padding: 0.8em 1.5em;
        font-size: 16px;
    }
    .corpo h2 {
        font-size: 1.8em; /* Ajusta o tamanho da fonte para telas menores */
    }
}

@media screen and (max-width: 600px) {
    .corpo li {
        flex: 1 1 100%; /* Itens ocupam a largura total em telas muito pequenas */
    }

    .corpo a {
        padding: 1em;
        font-size: 14px;
    }
    .corpo h2 {
        font-size: 1.6em; /* Ajusta o tamanho da fonte para telas muito pequenas */
    }
}
