@import url("./styles/headers.css");
@import url("./styles/banner.css");
@import url("./styles/contato.css");
@import url("./styles/rodape.css");
@import url("./styles/carrossel.css");
@import url("./styles/sacola.css");
:root {
    --cor-de-fundo: rgb(236, 254, 242);
    --branco: #FFFFFF;
    --marrom: #8B5A2B;
    --verde-degrade: linear-gradient(97.54deg,  #1B5438 35.49%, #4A6C5A 165.37%);
    --fonte-principal: "Poppins";
    --verde: #1A4C2A;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --laranja: #ce9325;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}